
/**************************************************
* --
* Body
* --
**************************************************/

body {

  a.button {
    @include appearance(none);
  }

  a.icon {
    color: #fff;
    text-decoration: none;
  }

} //body

