/*  Used to manage your own custom styles  */



/****************************************************************************
 * Header
 ****************************************************************************/
#header{

}

.header .hgroup p {
  z-index: 1;
}

.header .hgroup h2 a {
  color: #fff;
}

/****************************************************************************
 * Heading text
 ****************************************************************************/
/* Override headingtext p margin and set it to .block */
/* complete.css: .header #headingtext p.title */
.header #headingtext p{
  margin-left: 0;
}
.header #headingtext .block{
  margin-left: 20px;
}

/****************************************************************************
 * Main content
 ****************************************************************************/
#main-content{
/*  margin-top: 20px; */
  padding-top: 10px;
}

h1#page-title{
  padding: 10px 0 3px;
}

/****************************************************************************
 * aside
 ****************************************************************************/
.aside{
  margin-top: 0px;
  padding-top: 10px;
}

/****************************************************************************
 * Footer
 ****************************************************************************/
/* complete.css: .footer p.footertitle */
.footer .block h2{
  font-family: 'Droid Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  clear: both;
  margin: 0 0 14px 20px;
  color: #686868;
  font-size: 20px;
  font-weight: bold;
}

/****************************************************************************
 * Message
 ****************************************************************************/

#content div.messages {
  display: block;
  padding: 25px 20px 25px 95px;
  margin: 0 0 20px;
  border: 1px solid #c6c6c6;
}

/* Set status message to the style of .alert in uni template */
/* complete.css: .alert */
#content div.messages.status{
    color: #024;
    background: #FAFCFF url("../images/alert-bg.png") 2% 50% no-repeat;
    border: 1px solid #AFC4E4;
}

/* Set error message to the style of .error in uni template */
/* complete.css: .error */
#content div.messages.error {
    background: url("../images/error-bg.png") no-repeat scroll 2% 50% #FFE6E5;
    border: 1px solid #DFA19F;
    color: #660000;
}

/* Set warning message to the style of .message in uni template */
/* complete.css: .message */
#content div.messages.warning {
    display: block;
    background: #F9F9F9 url("../images/message-bg.png") 2% 50% no-repeat;
    padding: 25px 20px 25px 95px;
    margin: 0 0 20px;
    border: 1px solid #C6C6C6;
    color: #444;
}

/* Avoid error images in input fields */
input.error{
    background: none;
}

/****************************************************************************
 * Form styling
 ****************************************************************************/

/* Left align form labels. We use .form-item to distinguish drupal form from uni form */
form .form-item label{
    text-align: left;
}

form p{
  text-align: left;
}

/* Masquerade Block textfield*/
#block-masquerade-masquerade #edit-masquerade-user-field {
  padding: 0;
  margin: 0;
}


/****************************************************************************
 * Reset col settings
 ****************************************************************************/
.col-1, .col-2, .col-3 {
  width: auto;
  float: none;
  margin: 0;
}

